mixin section_name(name)
    .section-name
        h2.section-name__desctop-text= name
        .section-name__border
            h2.section-name__mobile-text= name
            .section-name__mobile-text= name
            .section-name__mobile-text= name
            .section-name__mobile-text= name