section.chapter-title.border.bg-anim-gradient
    .chapter-title__ticker-container
            h1.chapter-title__text #{chapter_title}
            .chapter-title__text #{chapter_title}
            .chapter-title__text #{chapter_title}    
            .chapter-title__text #{chapter_title}    
            .chapter-title__text #{chapter_title}    
            .chapter-title__text #{chapter_title}    